[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_bin

autocommit = 0
transaction-isolation = REPEATABLE-READ

[mysql]
default-character-set = utf8mb4
auto-rehash

[client]
default-character-set = utf8mb4
